{namespace todddavies.website}
        {template .blog}
            {call .minimalistbase}
        {param description kind="text"}Todd Davies' blog{/param}
        {param title kind="text"}Blog{/param}
        {param content kind="html"}
<b>Coming soon!</b>
        {/param}
        {/call}
        {/template}
