{namespace todddavies.website}
        {template .blog}
            {call .minimalistbase}
        {param description kind="text"}Todd Davies' blog{/param}
        {param title kind="text"}Blog{/param}
        {param content kind="html"}
<h2>Coming soon!</h2>
        {/param}
        {/call}
        {/template}
