#contact-wrapper {
    border:1px solid #FFF;
    display:inline-block;
    position:relative;
    margin-top: 15px;
}

#contact-wrapper input, button {
    background-color:transparent;
    border:0;
    outline-width: 0;
}

#contact-wrapper .refreshButton {
    background: url("/images/refresh-white.png") no-repeat scroll 0 0 transparent;
    position:absolute;
    right:0;
    top:0;
    background-position: center; 
}

#contact-wrapper input {
    padding-right:30px; /* button padding */
}