body {
  font-family: Helvetica-neue, Helvetica, sans-serif;
  font-size: 1em;
}

p {
  color: #000000;
  line-height: 1.3em;
  margin: 12px 0;
}

hr {
  margin: 20px 0px 20px 0px;
}

h1 {
  float: left;
}

@media only screen and (max-width: 520px) {
  .left {
    text-align: center;
  }

  .right {
    margin-left: auto;
    margin-right: auto;
  }
}

a:hover {
  background: #e7eef8;
  border-width: 0 0 1px 0;
  border-style: none none solid none;
  border-color: #C0C0C0;
  text-decoration: none;
}

a:visited {
  color: #303030;
  text-decoration: none;
  border-width: 0 0 1px 0;
  border-style: none none solid none;
  border-color: #C0C0C0;
}

a:link {
  color: #303030;
  text-decoration: none;
  border-width: 0 0 1px 0;
  border-style: none none solid none;
  border-color: #C0C0C0;
}

.content {
  max-width: 520px;
  margin: auto;
}

.menu {
  display: grid;
}

@media only screen and (max-width: 520px) {
  .menu ul {
    margin-top: 0px !important;
  }
}

.menu ul {
  margin-top: -60px;
  list-style-type: none;
  padding: 0;
  height: 100%;
}

.menu li {
  float: right;
}

.menu li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  border-width: 0;
}

.footer {
  clear: both;
  width: 100%;
  text-align: center;
}

.footer a {
  color: #666;
  text-decoration: none;
}

.notes-list ul {
  list-style-type: none;
  padding-left: 0;
}

.notes-header-cell {
  text-align: center;
  font-size: 25px;
  padding-top: 15px;
}

.notes-header2-cell {
  text-align: left;
}

.notes-body-cell {
  text-align: left;
  padding: 15px;
}

.notes-body-cell td {
  padding-right: 15px;
}

.notes-body-cell:nth-child(even) {background: #F0F0F0}
.notes-body-cell:nth-child(odd) {}

.blog-sidebar {
  max-width: 300px;
  position: absolute;
  overflow-x: hidden;
  margin-left: 540px;
  background-color: #E9E9E9;
  padding: 10px;
  margin-right: 10px;
}

.blog-sidebar ul {
  padding-inline-start: 20px;
}

.blog-post {
  display: flex;
  flex-direction: column;
}

.blog-inline-image {
  object-fit: contain;
  max-width: 520px;
}

.blog-inline-caption {
  text-align: center;
  color: #777;
  font-size: 14px;
}

.blog-code-block {
  background-color: #333;
  color: #EEE;
  font-family: monospace;
  padding: 10px;
  overflow-x: auto;
  white-space: nowrap;
}

.blog-code-block p {
  color: #EEE;
  margin: 0;
}

.blog-code-inline {
  background-color: #EEE;
  font-family: monospace;
  padding-left: 1px;
  padding-right: 1px;
}

.no-select {
  user-select: none;
}

@media only screen and (max-width: 960px) {
  .blog-sidebar {
    max-width: 500px;
    margin-left: 0px;
    position: inherit;
    overflow-x: hidden;
    background-color: #E9E9E9;
    padding: 10px;
    margin-right: 0px;
  }
}
