@font-face {
    font-family: headerfont;
    src: url(/fonts/SFCollegiate.ttf);
}

@font-face {
    font-family: solidfont;
    src: url(/fonts/SFCollegiateSolid.ttf);
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.center {
  width: 800px;
}

#background
{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);
}

#title {
  text-align: center;
  font-family: headerfont;
  font-size: 100px;
  margin: 10px;
}

#pages ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background: #434343;
  border-bottom-style: solid;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: solidfont;
  font-size: 30px;
}

#pages li {
    float: left;
}

#pages li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#pages li a:hover {
    background-color: #111111;
}

#contact-content {
  text-align: center;
  line-height: 35px
}

#contact-wrapper {
    border:1px solid #000;
    display:inline-block;
    line-height:0px;
}

#contact-wrapper input {
  background-color:transparent;
  border:0;
}

#contact-wrapper .refreshButton {
    background: url("/images/refresh.png") no-repeat scroll 0 0 transparent;
    height: 24px;
    width: 24px;
}